.App {
  text-align: center;
  background-color: #ff990066;
  height: 150px;
  border-bottom: 2px solid black;
}
.recipeDisplay { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: auto;
  height: 700px;
  margin: 40px;
  background-color: #fafafa;
}

.recipeDisplay h2 { 
  text-align: left;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 2.5px;
  width: 65%;
}

.recipeDiv p { 
  text-align: left;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 2.5px;
  width: 65%;
}


button { 
  font-size: 20px;
  height: 50px;
  background-color: #fafafa;
  border: 2px solid black;
}
